@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,400&family=Redressed&display=swap');

.container {
  padding: 10px;
  margin: 20px;
  border: 2px solid rgba(26, 23, 23, 0.521);
  border-radius: 10px;
  color: black;
}

p {
  text-align: center;
}

.header {
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  color: black;
}

.text {
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.button {
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.comments {
  text-align: center;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}
